body {
  margin: 60px;
  background-color: #f5f5f5;
}
h1 {
  font-family: Vidaloka, sans-serif;
  font-size: 38px;
  color: #000;
}
h2 {
  font-family: Vidaloka, sans-serif;
  font-size: 24px;
  color: #000;
}
p {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  color: #99011d;
}

.box {
  border: 3px solid;
  color: #99011d;
}
.line {
  margin-top: -5px;
  border: 2px solid;
  width: 100%;
  color: #99011d;
}
#text-block {
  background-color: ;
  width: auto;
  height: 220px;
}
.top-empty {
  margin-top: 60px;
  margin-bottom: 60px;
}
.section-header {
  min-width: 240px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 60px 0 30px;
}
.title {
  display: block;
  position: relative;
  width: 60px;
  margin: 15px auto 0;
}

.title::after {
  content: "";
  display: block;
  position: relative;
  width: 60px;
  height: 1px;
  margin: 5px auto;
  background-color: #99011d;
}
.container {
  position: relative;
  width: 100%;
  text-align: center;
}
.poster-image {
  width: 100%;
  z-index: 0;
}
.poster-image img {
  width: 100%;
}

.big-card {
  position: relative;
  width: 100%;
  padding: 0;
  background-color: transparent;
}

.poster-content {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 90%;
  padding: 20px;
  background: #fff;
  margin-top: -30px;
  z-index: 99;
  position: relative;
}

.poster-content h4 {
  line-height: 1.3;
  margin: 0 auto 15px;
}

.poster {
  margin-top: 45px;
}

.row-flex {
    display: flex;
}
.col-flex {
  display: flex;
}
.col-inner {
  background: transparent;
  padding: 0;
  margin-bottom: 20px;
}
.col-inner::after {
  content: "";
  display: block;
  width: 90%;
  margin: 0 auto;
  height: 100px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 5%;
}
.footer-text {
  min-width: 240px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px 0 30px;
}
.footer-line {
  display: block;
  position: relative;
  margin: 15px auto 0;
}

.footer-line::before {
  content: "";
  display: block;
  position: relative;
  width: 150px;
  height: 1px;
  margin: 5px auto;
  background-color: #99011d;
}

.social-icons {
    font-size: 15px;
}
    
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .row-flex {
        flex-direction: column;
        justify-content: center;
        align-items: center
    }
}